/*  
body{
    padding: 0;
    margin: 0px;
}
.container{
    width: 100%;
    height: 100%;
    
    position: 
}
.form{
    background-image: url(./dakar.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    top: 40px; left: 40px;
    outline: none;
   
}
h1{
        font-family: andalus;
        letter-spacing: 3px;
        text-align: justify;
       ;
        border-top-left-radius: 0%;
    
}*/
body  {
    background-image: url("paper.gif");
    background-color: #cccccc;
  }
.container{
    width: 100%;
    height: 100%;
}
.back-top{
    padding: 10%;
    text-align: center;
    padding-right: 15%;
    margin: -50px;
}
.form{
    background-image: url(./dakar.jpg);
    background-image: ;
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
    padding-right: 12%;
   
}

